.sidebar {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  width: 71px;
  margin-top: -10vh;
  padding-top: 3.5vh;
  background-color: white !important;

  .selected_Icon {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(8, 95, 171, 0.25);
    border-radius: 5px;
    width: 33px;
    height: 33px;
    margin-top: 3px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    img {
      width: 16px;
      filter: invert(19%) sepia(99%) saturate(1919%) hue-rotate(193deg)
        brightness(101%) contrast(94%);
    }
  }
}
